<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<form action="/savebook" method="post">

    <input type="hidden" name="id" th:value="${for_update.id}" id="id" >


    <input type="text" name="book_name" th:value="${for_update.book_name}" id="book_name" >
    <input type="text" name="author" th:value="${for_update.author}" id="author">
    <input type="text" name="purchase_date" th:value="${for_update.purchase_date}" id="purchase_date">

    <button type="submit"> Сохранить </button>
</form>
<a href="/allbooks"> Внуться к списку книг </a>


<!--

<div th:style="'font-size:100px;'">777</div>

<div th:style="'font-size:'+ ${for_update.book_name} +'px;'">777</div>

-->


</body>
</html>